<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Project IO</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
</head>
<body>

<nav th:replace="layouts :: navbar"></nav>


<div class="container">

    <h3>Main Dashboard</h3>
    <hr>
    <h4>Current Projects</h4>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th> Project Name</th>
                    <th></th>
                    <th> Project Stage</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="aProject : ${projects}">
                    <td th:text="${aProject.name}"/>
                    <td/>
                    <td th:text="${aProject.stage}"/>
                </tr>

                </tbody>
            </table>
        </div>


        <div class="col-md-4">
            <canvas id="myChart" height="400" width="400"></canvas>
        </div>

    </div>
</div>

<div class="container">
    <h4>Current Employees</h4>
    <div class="col-md-6">
        <div>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th> Employee Name</th>
                    <th></th>
                    <th> Employee Email</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.firstName}"/>
                    <td/>
                    <td th:text="${employee.email}"/>
                </tr>

                </tbody>
            </table>
        </div>
    </div>


</div>

<script type="text/javascript">
    const ctx = document.getElementById('myChart').getContext('2d');
    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

</body>
</html>